@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */

#header {
  background-color:teal;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-style:italic;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color:silver;
  text-decoration:none;
}

li .header-list{
  color:#fff !important;
  font-weight:bold;
}

li .header-list:hover{
  color:silver !important;
}

#dropdown-title{
  background-color:teal;
}

li .dropdown-header{
  background-color:rgba(200,200,200,0.5);
  font-weight:bold;
}

/* top */

.checkbox-login span{
  font-weight:normal;
}

#top-main{
  background-color:rgba(255,255,255,0);
}

#top-main-title{
  font-style:italic;
  font-weight:bold;
}

.btn-form{
  margin-top:10px;
}

#task-name{
  font-size:1.8rem;
}

#table-tasks th{
  vertical-align:middle;
}

#table-tasks td{
  vertical-align:middle;
}

#table-task{
  table-layout:fixed;
  width:100%;
}

#table-task th{
  vertical-align:middle;
  white-space:nowrap;
  text-align:center;
}

#table-task td{
  word-wrap:break-word;
}

#table-users th{
  vertical-align:middle;
}

#table-users td{
  vertical-align:middle;
}

.label-user-division{
  margin-left:5px;
}

#table-user{
  table-layout:fixed;
  width:100%;
}

#table-user th{
  vertical-align:middle;
  white-space:nowrap;
  text-align:center;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* new */
.label-form{
  margin-top:5px;
}

label{
  display:inline-block;
  max-width:100%;
  margin-bottom:5px;
  font-weight:700;
}

input,button,select,textarea{
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
}

.form-control{
  display:block;
  width:100%;
  height:34px;
  padding:6px 12px;
  font-size:14px;
  line-height:1.428571429;
  color:#555555;
  background-color:#fff;
  background-image:none;
  border:1px solid #ccc;
  border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}

.btn-form{
  margin-top:10px;
}

.btn-primary{
  color:#fff;
  background-color:#337ab7;
  border-color:#2e6da4;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    user-select: none;
}

/* index */
.btn-lg,.btn-group-lg>.btn{
  padding:10px 16px;
  font-size:18px;
  line-height:1.3333333;
  border-radius:6px;
}

.btn-primary{
  color:#fff;
  background-color:#337ab7;
  border-color:#2e6da4;
}

.btn{display:inline-block;
     margin-bottom:0;
     font-weight:normal;
     text-align:center;
     white-space:nowrap;
     vertical-align:middle;
     touch-action:manipulation;
     cursor:pointer;
     background-image:none;
     border:1px solid transparent;
     padding:6px 12px;
     font-size:14px;
     line-height:1.428571429;
     border-radius:4px;
     -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;user-select:none
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
